body {background-color: black;}
h1{color: white;}
h2{color: white;}
h3{color: white;}
h4{color: white;}
h1{font-size: 60px;}
h2{font-size: 60px;}
h3{font-size: 60px;}
h4{font-size: 60px;}
#img1 {margin-left: 20%;}
#img2 {width: 950px;}
#img2 {margin-left: 20%;}
#img1 {width: 1000px;}